# Learning How to Use Jupyter Notebooks By Cleaning Data
## Using Pandas to Clean Data
In this project, I will by trying to improve my Data Scientist Skills by learning Data Preprocessing. Hope that it is fun. This would involve reviewing lambda functions, handling missing data, joining and modifying tables, and reviewing useful pandas methods. I will try to mainly work with csv files. The first cells install and import the pandas module for upcoming use:

In [2]:
# pip install pandas

Requirement already satisfied: pandas in /opt/homebrew/Cellar/jupyterlab/4.1.2/libexec/lib/python3.12/site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.26.0 in /opt/homebrew/Cellar/jupyterlab/4.1.2/libexec/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/opt/python-dateutil/lib/python3.12/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/Cellar/jupyterlab/4.1.2/libexec/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/Cellar/jupyterlab/4.1.2/libexec/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/homebrew/opt/six/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

/var/folders/l5/z10c8sk9663bs_wgntsr3qv00000gn/T/ipykernel_1720/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## It is now time to read in our file
The next few lines will take in the csv file and look at the contents.

In [4]:
df = pd.read_csv('diabetes_unclean.csv')

In [5]:
df.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26.0,4.5,62.0,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33.0,7.1,46.0,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [6]:
df.keys()

Index(['ID', 'No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG',
       'HDL', 'LDL', 'VLDL', 'BMI', 'CLASS'],
      dtype='object')

In [9]:
len(df)

1009

In [10]:
df.rename(columns={'No_Pation':'Patient_No'})

,ID,Patient_No,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26.0,4.5,62.0,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33.0,7.1,46.0,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,191,454316,M,55.0,NaN,62.0,6.8,5.3,2.0,1.0,3.5,0.9,30.1,Y
1005,192,454316,M,55.0,4.8,88.0,NaN,5.7,4.0,0.9,3.3,1.8,30.0,Y
1006,193,454316,M,62.0,6.3,82.0,6.7,5.3,2.0,1.0,3.5,NaN,30.1,Y
1007,194,454316,F,57.0,4.1,70.0,9.3,5.3,3.3,1.0,1.4,1.3,29.0,Y
1008,195,4543,f,55.0,4.1,34.0,13.9,5.4,1.6,1.6,3.1,0.7,33.0,Y

In [11]:
df.columns

Index(['ID', 'No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG',
       'HDL', 'LDL', 'VLDL', 'BMI', 'CLASS'],
      dtype='object')

## Note: 
When inplace is not set to true, the data frame itself is not modified

In [12]:
df.rename(columns={'No_Pation':'Patient_No'},inplace=True)

In [13]:
df.columns

Index(['ID', 'Patient_No', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol',
       'TG', 'HDL', 'LDL', 'VLDL', 'BMI', 'CLASS'],
      dtype='object')

## Missing Values
Now, we will look at the data and attempt to find null or missing values. We generally want to get these out of the way as they can affect our final output when we feed the data into a ML model

In [14]:
df.isna().sum()

ID            0
Patient_No    0
Gender        0
AGE           1
Urea          1
Cr            2
HbA1c         3
Chol          2
TG            2
HDL           1
LDL           2
VLDL          1
BMI           0
CLASS         0
dtype: int64

## Dealing with missing data
After finding information about the missing data for each columns, we see that it would be wise to replace the columns with high amounts of missing data. In this case, that would be HbA1c.

In [15]:
# First find the mean
mean_hba1 = df['HbA1c'].mean()
mean_hba1

8.284155069582505

### Filling the missing values with the calculated mean

In [18]:
df['HbA1c'].fillna(mean_hba1,inplace=True)

/var/folders/l5/z10c8sk9663bs_wgntsr3qv00000gn/T/ipykernel_1720/717707726.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['HbA1c'].fillna(mean_hba1,inplace=True)

ID            0
Patient_No    0
Gender        0
AGE           1
Urea          1
Cr            2
HbA1c         0
Chol          2
TG            2
HDL           1
LDL           2
VLDL          1
BMI           0
CLASS         0
dtype: int64

## Observe Difference
Now, when looking at the sum of the null values, it is down to zero for HbA1c

In [19]:
df.isna().sum()

ID            0
Patient_No    0
Gender        0
AGE           1
Urea          1
Cr            2
HbA1c         0
Chol          2
TG            2
HDL           1
LDL           2
VLDL          1
BMI           0
CLASS         0
dtype: int64

## Dropping the null values
Now that we have replaced the values for the column with the most missing values, we will drop the remaining null values. As observable, there are no longer any null values. Additionally, you will see that the length indicated is lower than before, which is good to consider.

In [21]:
df1 = df.dropna()
df1.isna().sum()

ID            0
Patient_No    0
Gender        0
AGE           0
Urea          0
Cr            0
HbA1c         0
Chol          0
TG            0
HDL           0
LDL           0
VLDL          0
BMI           0
CLASS         0
dtype: int64

In [22]:
len(df1)

997

## Looking at the dataframe info

In [25]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 997 entries, 0 to 1008
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          997 non-null    int64
 1   Patient_No  997 non-null    int64
 2   Gender      997 non-null    object
 3   AGE         997 non-null    float64
 4   Urea        997 non-null    float64
 5   Cr          997 non-null    float64
 6   HbA1c       997 non-null    float64
 7   Chol        997 non-null    float64
 8   TG          997 non-null    float64
 9   HDL         997 non-null    float64
 10  LDL         997 non-null    float64
 11  VLDL        997 non-null    float64
 12  BMI         997 non-null    float64
 13  CLASS       997 non-null    object
dtypes: float64(10), int64(2), object(2)
memory usage: 116.8+ KB

### Now we count the number of elements for the column CLASS. 
We do this for the purpose of finding duplicates. As we can see below, there is a duplicate for <strong>Y</strong>

In [26]:
df1.groupby('CLASS')['CLASS'].agg('count')

CLASS
N     102
N       1
P      53
Y     832
Y       9
Name: CLASS, dtype: int64

## Dealing with duplicates
We start by looking at the unique values. Once we find them, we try to understand why some values are duplicated. In this case, there is a space after the second N and Y. Now that we know this, we remedy it by replacing the string values. After the replacements, notice that there are less unique values. This means that it worked.

In [28]:
df1['CLASS'].unique()

array(['N', 'N ', 'P', 'Y', 'Y '], dtype=object)

In [29]:
# Replacing the values with a space, first cast into string
df1['CLASS'] = df1['CLASS'].str.replace("Y ","Y")
df1['CLASS'] = df1['CLASS'].str.replace("N ","N")

/var/folders/l5/z10c8sk9663bs_wgntsr3qv00000gn/T/ipykernel_1720/1306666652.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['CLASS'] = df1['CLASS'].str.replace("Y ","Y")
/var/folders/l5/z10c8sk9663bs_wgntsr3qv00000gn/T/ipykernel_1720/1306666652.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['CLASS'] = df1['CLASS'].str.replace("N ","N")

In [30]:
df1['CLASS'].unique()

array(['N', 'P', 'Y'], dtype=object)