# Learning How to Use Jupyter Notebooks By Cleaning Data
## Using Pandas to Clean Data
In this project, I will by trying to improve my Data Scientist Skills by learning Data Preprocessing. Hope that it is fun. This would involve reviewing lambda functions, handling missing data, joining and modifying tables, and reviewing useful pandas methods. I will try to mainly work with csv files. The first cells install and import the pandas module for upcoming use:

In [2]:
# pip install pandas

Requirement already satisfied: pandas in /opt/homebrew/Cellar/jupyterlab/4.1.2/libexec/lib/python3.12/site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.26.0 in /opt/homebrew/Cellar/jupyterlab/4.1.2/libexec/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/opt/python-dateutil/lib/python3.12/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/Cellar/jupyterlab/4.1.2/libexec/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/Cellar/jupyterlab/4.1.2/libexec/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/homebrew/opt/six/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

/var/folders/l5/z10c8sk9663bs_wgntsr3qv00000gn/T/ipykernel_1720/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## It is now time to read in our file
The next few lines will take in the csv file and look at the contents.

In [4]:
df = pd.read_csv('diabetes_unclean.csv')

In [5]:
df.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26.0,4.5,62.0,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33.0,7.1,46.0,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [6]:
df.keys()

Index(['ID', 'No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG',
       'HDL', 'LDL', 'VLDL', 'BMI', 'CLASS'],
      dtype='object')

In [7]:
df.shape()

TypeError: 'tuple' object is not callable

In [ ]:
len(df)

In [ ]:
df.rename(columns={'No_Pation':'Patient_No'})

In [ ]:
df.columns

## Note: 
When inplace is not set to true, the data frame itself is not modified

In [ ]:
df.rename(columns={'No_Pation':'Patient_No'},inplace=True)

In [ ]:
df.columns

## Missing Values
Now, we will look at the data and attempt to find null or missing values. We generally want to get these out of the way as they can affect our final output when we feed the data into a ML model

In [ ]:
df.isna().sum()